In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
base_path = ''

In [2]:
df = pd.read_csv(base_path + 'df21011_1.csv')
df

            GDS_NM  SALE_QTY   SALE_AMT
0         재사용봉투20L    201215  131245180
1             대파1단     77223  118091760
2             배달봉투     75359    3014360
3           깻잎4묶음봉     51035   65224910
4            백오이1개     45988  123285920
...            ...       ...        ...
4064    빙그레투게더미니어쳐       300     684000
4065    청정원크림로제파스타       300    1568200
4066   크라운마이쮸복숭아번들       300     531620
4067    해표멸치디포리다시팩       300    2209260
4068  해표충청식짜글이찌개양념       300     381150

[4069 rows x 3 columns]