In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
base_path = ''

In [2]:
# 제품목록 gds_list_0, gds_list_1
gds = pd.read_csv(base_path + 'gds31004.csv')

# 제품 카테고리 목록: gdsclss_list_0, gdsclss_list_1
gdsclss = pd.read_csv(base_path + 'gdsclss31004.csv')

# 매출 데이터 마스터(장바구니 단위): tr_list_0, tr_list_1
tr = pd.read_csv(base_path + 'tr31004.csv')

# 매출 제품 데이터 상세: tr_dtl_list_0, tr_dtl_list_1
trd = pd.read_csv(base_path + 'trd31004.csv')

In [3]:
df = tr[['SAL_DT', 'REAL_SAL_TTM', 'PAY_AMT']]
df

           SAL_DT  REAL_SAL_TTM    PAY_AMT
0        20210901         71138  9000000.0
1        20210901         91245     3650.0
2        20210901         91549     1970.0
3        20210901         91647     3980.0
4        20210901         92226    12500.0
...           ...           ...        ...
1479464  20220901        142845     7400.0
1479465  20220901        143105     9000.0
1479466  20220901        143132    11000.0
1479467  20220901        143433      500.0
1479468  20220901        143610     1900.0

[1479469 rows x 3 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1479469 entries, 0 to 1479468
Data columns (total 3 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   SAL_DT        1479469 non-null  int64
 1   REAL_SAL_TTM  1479469 non-null  int64
 2   PAY_AMT       1479469 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 33.9 MB

In [17]:
df1 = df['SAL_DT'].astype(float)
df1

0          20210901.0
1          20210901.0
2          20210901.0
3          20210901.0
4          20210901.0
              ...
1479464    20220901.0
1479465    20220901.0
1479466    20220901.0
1479467    20220901.0
1479468    20220901.0
Name: SAL_DT, Length: 1479469, dtype: float64

In [25]:
mer = df1.to_frame()

In [26]:
mer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1479469 entries, 0 to 1479468
Data columns (total 1 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   SAL_DT  1479469 non-null  float64
dtypes: float64(1)
memory usage: 11.3 MB

In [27]:
mer

             SAL_DT
0        20210901.0
1        20210901.0
2        20210901.0
3        20210901.0
4        20210901.0
...             ...
1479464  20220901.0
1479465  20220901.0
1479466  20220901.0
1479467  20220901.0
1479468  20220901.0

[1479469 rows x 1 columns]

In [18]:
df2 = df['REAL_SAL_TTM'].astype(str).str.zfill(6)
df2

0          071138
1          091245
2          091549
3          091647
4          092226
            ...
1479464    142845
1479465    143105
1479466    143132
1479467    143433
1479468    143610
Name: REAL_SAL_TTM, Length: 1479469, dtype: object

In [29]:
mer1 = df2.to_frame()
mer1

        REAL_SAL_TTM
0             071138
1             091245
2             091549
3             091647
4             092226
...              ...
1479464       142845
1479465       143105
1479466       143132
1479467       143433
1479468       143610

[1479469 rows x 1 columns]

In [30]:
mer1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1479469 entries, 0 to 1479468
Data columns (total 1 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   REAL_SAL_TTM  1479469 non-null  object
dtypes: object(1)
memory usage: 11.3+ MB

In [39]:
result3 = pd.concat([mer, mer1],axis=1)
print(result3)

             SAL_DT REAL_SAL_TTM
0        20210901.0       071138
1        20210901.0       091245
2        20210901.0       091549
3        20210901.0       091647
4        20210901.0       092226
...             ...          ...
1479464  20220901.0       142845
1479465  20220901.0       143105
1479466  20220901.0       143132
1479467  20220901.0       143433
1479468  20220901.0       143610

[1479469 rows x 2 columns]

In [40]:
result3

             SAL_DT REAL_SAL_TTM
0        20210901.0       071138
1        20210901.0       091245
2        20210901.0       091549
3        20210901.0       091647
4        20210901.0       092226
...             ...          ...
1479464  20220901.0       142845
1479465  20220901.0       143105
1479466  20220901.0       143132
1479467  20220901.0       143433
1479468  20220901.0       143610

[1479469 rows x 2 columns]

In [42]:
result3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1479469 entries, 0 to 1479468
Data columns (total 2 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   SAL_DT        1479469 non-null  float64
 1   REAL_SAL_TTM  1479469 non-null  object
dtypes: float64(1), object(1)
memory usage: 22.6+ MB

In [50]:
result3['REAL_SAL_TTM'] = result3['REAL_SAL_TTM'].astype(float)

In [45]:
result3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1479469 entries, 0 to 1479468
Data columns (total 2 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   SAL_DT        1479469 non-null  float64
 1   REAL_SAL_TTM  1479469 non-null  float64
dtypes: float64(2)
memory usage: 22.6 MB

In [46]:
result3

             SAL_DT  REAL_SAL_TTM
0        20210901.0       71138.0
1        20210901.0       91245.0
2        20210901.0       91549.0
3        20210901.0       91647.0
4        20210901.0       92226.0
...             ...           ...
1479464  20220901.0      142845.0
1479465  20220901.0      143105.0
1479466  20220901.0      143132.0
1479467  20220901.0      143433.0
1479468  20220901.0      143610.0

[1479469 rows x 2 columns]

In [84]:
result3['result'] = result3['SAL_DT']  + result3['REAL_SAL_TTM']
result3

             SAL_DT REAL_SAL_TTM              result
0        20210901.0      71138.0   20210901.071138.0
1        20210901.0      91245.0   20210901.091245.0
2        20210901.0      91549.0   20210901.091549.0
3        20210901.0      91647.0   20210901.091647.0
4        20210901.0      92226.0   20210901.092226.0
...             ...          ...                 ...
1479464  20220901.0     142845.0  20220901.0142845.0
1479465  20220901.0     143105.0  20220901.0143105.0
1479466  20220901.0     143132.0  20220901.0143132.0
1479467  20220901.0     143433.0  20220901.0143433.0
1479468  20220901.0     143610.0  20220901.0143610.0

[1479469 rows x 3 columns]

In [68]:
from datetime import datetime

In [70]:
result3['SAL_DT'] = result3['SAL_DT'].astype(str)

In [73]:
result3['REAL_SAL_TTM'] = result3['REAL_SAL_TTM'].astype(str)

In [74]:
result3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1479469 entries, 0 to 1479468
Data columns (total 2 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   SAL_DT        1479469 non-null  object
 1   REAL_SAL_TTM  1479469 non-null  object
dtypes: object(2)
memory usage: 22.6+ MB

In [87]:
result3

             SAL_DT REAL_SAL_TTM              result
0        20210901.0      71138.0   20210901.071138.0
1        20210901.0      91245.0   20210901.091245.0
2        20210901.0      91549.0   20210901.091549.0
3        20210901.0      91647.0   20210901.091647.0
4        20210901.0      92226.0   20210901.092226.0
...             ...          ...                 ...
1479464  20220901.0     142845.0  20220901.0142845.0
1479465  20220901.0     143105.0  20220901.0143105.0
1479466  20220901.0     143132.0  20220901.0143132.0
1479467  20220901.0     143433.0  20220901.0143433.0
1479468  20220901.0     143610.0  20220901.0143610.0

[1479469 rows x 3 columns]

In [86]:
result3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1479469 entries, 0 to 1479468
Data columns (total 3 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   SAL_DT        1479469 non-null  object
 1   REAL_SAL_TTM  1479469 non-null  object
 2   result        1479469 non-null  object
dtypes: object(3)
memory usage: 33.9+ MB

In [85]:
result3['result'] = result3['result'].astype(float)

ValueError: could not convert string to float: '20210901.071138.0'

In [83]:
result3.to_csv('result3.csv', index=False)

In [81]:
result3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1479469 entries, 0 to 1479468
Data columns (total 3 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   SAL_DT        1479469 non-null  object
 1   REAL_SAL_TTM  1479469 non-null  object
 2   result        1479469 non-null  object
dtypes: object(3)
memory usage: 33.9+ MB

In [88]:
pd.to_datetime(result3['result'])

ParserError: Unknown string format: 20210901.071138.0

In [79]:
result3

             SAL_DT REAL_SAL_TTM               result
0        20210901.0      71138.0   20210901.0 71138.0
1        20210901.0      91245.0   20210901.0 91245.0
2        20210901.0      91549.0   20210901.0 91549.0
3        20210901.0      91647.0   20210901.0 91647.0
4        20210901.0      92226.0   20210901.0 92226.0
...             ...          ...                  ...
1479464  20220901.0     142845.0  20220901.0 142845.0
1479465  20220901.0     143105.0  20220901.0 143105.0
1479466  20220901.0     143132.0  20220901.0 143132.0
1479467  20220901.0     143433.0  20220901.0 143433.0
1479468  20220901.0     143610.0  20220901.0 143610.0

[1479469 rows x 3 columns]

In [89]:
result3['result'] = pd.to_numeric(result3['result'])
result3

ValueError: Unable to parse string "20210901.071138.0" at position 0

In [95]:
df[df['PAY_AMT'] == ]

Empty DataFrame
Columns: [SAL_DT, REAL_SAL_TTM, PAY_AMT]
Index: []