In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

base_path = ''

In [2]:
gds2 = pd.read_csv(base_path + 'gds1014.csv')

trdtl2 = pd.read_csv(base_path + 'trdtl1014.csv')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1986829749.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  gds2 = pd.read_csv(base_path + 'gds1014.csv')
C:\Users\min\AppData\Local\Temp\ipykernel_9524\1986829749.py:3: DtypeWarning: Columns (2,8) have mixed types. Specify dtype option on import or set low_memory=False.
  trdtl2 = pd.read_csv(base_path + 'trdtl1014.csv')

In [3]:
gds2.STR_CD = gds2.STR_CD.astype('str')
trdtl2.STR_CD = trdtl2.STR_CD.astype('str')

In [4]:
gds2.PLU_CD = gds2.PLU_CD.astype('str')
trdtl2.PLU_CD = trdtl2.PLU_CD.astype('str')

In [5]:
trdtl2 = trdtl2.astype({'SALE_QTY' : 'int'})
trdtl2 = trdtl2.astype({'SALE_PRC' : 'int'})
trdtl2 = trdtl2.astype({'SALE_AMT' : 'int'})

In [6]:
gds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 571632 entries, 0 to 571631
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CO_CD        571632 non-null  int64
 1   STR_CD       571632 non-null  object
 2   PLU_CD       571632 non-null  object
 3   GDS_NM       571632 non-null  object
 4   GDS_CLSS_CD  571629 non-null  float64
 5   GDS_TP_NM    571632 non-null  object
 6   VEN_CD       571632 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 30.5+ MB

In [7]:
trdtl2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24976520 entries, 0 to 24976519
Data columns (total 20 columns):
 #   Column              Dtype
---  ------              -----
 0   SAL_DT              int64
 1   STR_CD              object
 2   POS_NO              object
 3   TRAN_NO             int64
 4   SEQ_NO              int64
 5   DESI_CNCL_TP_NM     object
 6   SALE_RTN_SGN        int64
 7   PLU_CD              object
 8   GDS_CLSS_CD         object
 9   SALE_QTY            int32
 10  SALE_PRC            int32
 11  SALE_AMT            int32
 12  SGDS_DC_TP_NM       object
 13  SGDS_DC_PRC         float64
 14  SUBTOT_DC_AMT       float64
 15  EVT_DC_AMT          float64
 16  CPON_DC_AMT         float64
 17  SCALES_GDS_TP_NM    object
 18  GDS_CPON_DC_AMT     float64
 19  BASKET_CPON_DC_AMT  float64
dtypes: float64(6), int32(3), int64(4), object(7)
memory usage: 3.4+ GB

In [8]:
g12018 = gds2[gds2.STR_CD == '12018']

In [9]:
t12018 = trdtl2[trdtl2.STR_CD == '12018']

In [10]:
g75008 = gds2[gds2.STR_CD == '75008']

In [11]:
t75008 = trdtl2[trdtl2.STR_CD == '75008']

In [12]:
g156012 = gds2[gds2.STR_CD == '156012']

In [13]:
t156012 = trdtl2[trdtl2.STR_CD == '156012']

In [14]:
g156013 = gds2[gds2.STR_CD == '156013']

In [15]:
t156013 = trdtl2[trdtl2.STR_CD == '156013']

In [16]:
g156011 = gds2[gds2.STR_CD == '156011']

In [17]:
t156011 = trdtl2[trdtl2.STR_CD == '156011']

In [18]:
g150009 = gds2[gds2.STR_CD == '150009']

In [19]:
t150009 = trdtl2[trdtl2.STR_CD == '150009']

In [20]:
g72005 = gds2[gds2.STR_CD == '72005']

In [21]:
t72005 = trdtl2[trdtl2.STR_CD == '72005']

In [22]:
g145002 = gds2[gds2.STR_CD == '145002']

In [23]:
t145002 = trdtl2[trdtl2.STR_CD == '145002']

In [24]:
g201001 = gds2[gds2.STR_CD == '201001']

In [25]:
t201001 = trdtl2[trdtl2.STR_CD == '201001']

In [26]:
g227003 = gds2[gds2.STR_CD == '227003']

In [27]:
t227003 = trdtl2[trdtl2.STR_CD == '227003']

In [28]:
g164050 = gds2[gds2.STR_CD == '164050']

In [29]:
t164050 = trdtl2[trdtl2.STR_CD == '164050']

In [30]:
g216008 = gds2[gds2.STR_CD == '216008']

In [31]:
t216008 = trdtl2[trdtl2.STR_CD == '216008']

In [32]:
g363004 = gds2[gds2.STR_CD == '363004']

In [33]:
t363004 = trdtl2[trdtl2.STR_CD == '363004']

In [34]:
g194001 = gds2[gds2.STR_CD == '194001']

In [35]:
t194001 = trdtl2[trdtl2.STR_CD == '194001']

In [36]:
g168009 = gds2[gds2.STR_CD == '168009']

In [37]:
t168009 = trdtl2[trdtl2.STR_CD == '168009']

In [38]:
g142011 = gds2[gds2.STR_CD == '142011']

In [39]:
t142011 = trdtl2[trdtl2.STR_CD == '142011']

---

In [40]:
gt12018 = pd.merge(g12018, t12018, on='PLU_CD', how='inner')

In [41]:
gt75008 = pd.merge(g75008, t75008, on='PLU_CD', how='inner')

In [42]:
gt156012 = pd.merge(g156012, t156012, on='PLU_CD', how='inner')

In [43]:
gt156013 = pd.merge(g156013, t156013, on='PLU_CD', how='inner')

In [44]:
gt156011 = pd.merge(g156011, t156011, on='PLU_CD', how='inner')

In [45]:
gt150009 = pd.merge(g150009, t150009, on='PLU_CD', how='inner')

In [46]:
gt72005 = pd.merge(g72005, t72005, on='PLU_CD', how='inner')

In [47]:
gt145002 = pd.merge(g145002, t145002, on='PLU_CD', how='inner')

In [48]:
gt201001 = pd.merge(g201001, t201001, on='PLU_CD', how='inner')

In [49]:
gt227003 = pd.merge(g227003, t227003, on='PLU_CD', how='inner')

In [50]:
gt164050 = pd.merge(g164050, t164050, on='PLU_CD', how='inner')

In [51]:
gt216008 = pd.merge(g216008, t216008, on='PLU_CD', how='inner')

In [52]:
gt363004 = pd.merge(g363004, t363004, on='PLU_CD', how='inner')

In [53]:
gt194001 = pd.merge(g194001, t194001, on='PLU_CD', how='inner')

In [54]:
gt168009 = pd.merge(g168009, t168009, on='PLU_CD', how='inner')

In [55]:
gt142011 = pd.merge(g142011, t142011, on='PLU_CD', how='inner')

---

In [56]:
amart = gt12018[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [57]:
bmart = gt72005[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [58]:
cmart = gt75008[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [59]:
dmart = gt142011[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [60]:
emart = gt145002[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [61]:
fmart = gt150009[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [62]:
gmart = gt156011[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [63]:
hmart = gt156012[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [64]:
imart = gt156013[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [65]:
jmart = gt164050[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [66]:
kmart = gt168009[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [67]:
lmart = gt194001[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [68]:
mmart = gt201001[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [69]:
nmart = gt216008[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [70]:
omart = gt227003[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

In [71]:
pmart = gt363004[['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT']]

---

In [72]:
amart.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9372289 entries, 0 to 9372288
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   SAL_DT    int64
 1   PLU_CD    object
 2   GDS_NM    object
 3   SALE_QTY  int32
 4   SALE_PRC  int32
 5   SALE_AMT  int32
dtypes: int32(3), int64(1), object(2)
memory usage: 393.3+ MB

In [73]:
pmart.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 416312 entries, 0 to 416311
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   SAL_DT    416312 non-null  int64
 1   PLU_CD    416312 non-null  object
 2   GDS_NM    416312 non-null  object
 3   SALE_QTY  416312 non-null  int32
 4   SALE_PRC  416312 non-null  int32
 5   SALE_AMT  416312 non-null  int32
dtypes: int32(3), int64(1), object(2)
memory usage: 17.5+ MB

In [74]:
cat = pd.concat([amart,bmart,cmart,dmart,emart,fmart,gmart,hmart,imart,jmart,kmart,lmart,mmart,nmart,omart,pmart,])
cat

          SAL_DT         PLU_CD         GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0       20220928              1            배송비         1         0         0
1       20220929              1            배송비      5000         1      5000
2       20210722              2         사은행사쿠폰         1         0         0
3       20201222       93682091       스니커즈피넛싱글         1       990       990
4       20201222       93682091       스니커즈피넛싱글         1       990       990
...          ...            ...            ...       ...       ...       ...
416307  20220504  9334214017686  시저)연어와쇠고기 1Kg         1      9900      9900
416308  20220829  9334214017686  시저)연어와쇠고기 1Kg         1      9900      9900
416309  20220906  9334214017686  시저)연어와쇠고기 1Kg         1      9900      9900
416310  20220916  9334214017686  시저)연어와쇠고기 1Kg         1      9900      9900
416311  20220921  9334214017686  시저)연어와쇠고기 1Kg         1      9900      9900

[24805743 rows x 6 columns]

In [75]:
cat.isnull().sum()

SAL_DT      0
PLU_CD      0
GDS_NM      0
SALE_QTY    0
SALE_PRC    0
SALE_AMT    0
dtype: int64

In [76]:
cat

          SAL_DT         PLU_CD         GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0       20220928              1            배송비         1         0         0
1       20220929              1            배송비      5000         1      5000
2       20210722              2         사은행사쿠폰         1         0         0
3       20201222       93682091       스니커즈피넛싱글         1       990       990
4       20201222       93682091       스니커즈피넛싱글         1       990       990
...          ...            ...            ...       ...       ...       ...
416307  20220504  9334214017686  시저)연어와쇠고기 1Kg         1      9900      9900
416308  20220829  9334214017686  시저)연어와쇠고기 1Kg         1      9900      9900
416309  20220906  9334214017686  시저)연어와쇠고기 1Kg         1      9900      9900
416310  20220916  9334214017686  시저)연어와쇠고기 1Kg         1      9900      9900
416311  20220921  9334214017686  시저)연어와쇠고기 1Kg         1      9900      9900

[24805743 rows x 6 columns]

In [77]:
cat['GDS_NM']= cat['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)
cat['GDS_NM']

0                   배송비
1                   배송비
2                사은행사쿠폰
3              스니커즈피넛싱글
4              스니커즈피넛싱글
              ...
416307    시저 연어와쇠고기 1Kg
416308    시저 연어와쇠고기 1Kg
416309    시저 연어와쇠고기 1Kg
416310    시저 연어와쇠고기 1Kg
416311    시저 연어와쇠고기 1Kg
Name: GDS_NM, Length: 24805743, dtype: object

In [78]:
cat['GDS_NM'] = cat['GDS_NM'].str.replace(" ", "")
cat

          SAL_DT         PLU_CD       GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0       20220928              1          배송비         1         0         0
1       20220929              1          배송비      5000         1      5000
2       20210722              2       사은행사쿠폰         1         0         0
3       20201222       93682091     스니커즈피넛싱글         1       990       990
4       20201222       93682091     스니커즈피넛싱글         1       990       990
...          ...            ...          ...       ...       ...       ...
416307  20220504  9334214017686  시저연어와쇠고기1Kg         1      9900      9900
416308  20220829  9334214017686  시저연어와쇠고기1Kg         1      9900      9900
416309  20220906  9334214017686  시저연어와쇠고기1Kg         1      9900      9900
416310  20220916  9334214017686  시저연어와쇠고기1Kg         1      9900      9900
416311  20220921  9334214017686  시저연어와쇠고기1Kg         1      9900      9900

[24805743 rows x 6 columns]

In [79]:
cat

          SAL_DT         PLU_CD       GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0       20220928              1          배송비         1         0         0
1       20220929              1          배송비      5000         1      5000
2       20210722              2       사은행사쿠폰         1         0         0
3       20201222       93682091     스니커즈피넛싱글         1       990       990
4       20201222       93682091     스니커즈피넛싱글         1       990       990
...          ...            ...          ...       ...       ...       ...
416307  20220504  9334214017686  시저연어와쇠고기1Kg         1      9900      9900
416308  20220829  9334214017686  시저연어와쇠고기1Kg         1      9900      9900
416309  20220906  9334214017686  시저연어와쇠고기1Kg         1      9900      9900
416310  20220916  9334214017686  시저연어와쇠고기1Kg         1      9900      9900
416311  20220921  9334214017686  시저연어와쇠고기1Kg         1      9900      9900

[24805743 rows x 6 columns]

In [80]:
cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24805743 entries, 0 to 416311
Data columns (total 6 columns):
 #   Column    Dtype
---  ------    -----
 0   SAL_DT    int64
 1   PLU_CD    object
 2   GDS_NM    object
 3   SALE_QTY  int32
 4   SALE_PRC  int32
 5   SALE_AMT  int32
dtypes: int32(3), int64(1), object(2)
memory usage: 1.0+ GB

In [81]:
cat.isnull().sum()

SAL_DT      0
PLU_CD      0
GDS_NM      0
SALE_QTY    0
SALE_PRC    0
SALE_AMT    0
dtype: int64

In [82]:
cat.sort_values('SALE_QTY', ascending=False).head(30)

,SAL_DT,PLU_CD,GDS_NM,SALE_QTY,SALE_PRC,SALE_AMT
38093,20220402,200131,모듬쌈채류,9999,172720,1727027280
849716,20220524,8801045420042,오뚜기바삭하고고소한튀김가루,9999,3900,38996100
49829,20211106,2599990000100,아이스콘1개,9999,900,8999100
292541,20210919,8809440820009,종이컵박스,9999,9900,98990100
38094,20220402,200131,모듬쌈채류,9999,170210,1701929790
456386,20220114,22001566,츄파춥스,9999,250,2499750
122028,20220317,202024,딸기,9999,10000,99990000
44417,20220114,200160,백오이,9999,2480,24797520
1666064,20220421,8809517210078,에그탑특란,9999,10000,79792020
965765,20220124,8801045299419,오옛날사골곰탕,9999,1000,9999000
255445,20210919,8802521125819,국순당대박막걸리,9999,1000,9999000
50244,20211106,2599990000117,잡화,9999,400000,-2147483648
3710,20210919,2501130000710,소금20kg,9999,27000,269973000
5748206,20210403,8801048101023,진로이즈백,9982,1350,13475700
155980,20211020,2999000001064,천하장사,9800,200,1960000
116929,20220523,22000539,제스프리,9800,5000,49000000
138201,20220602,2900000000322,공산,9650,4000,38600000
618049,20220704,8801007227320,CJ백설하얀설탕,9000,12000,71820000
610614,20220704,8801007144641,CJ갈색설탕,9000,14500,89100000
119972,20211126,2489898982335,흙대파,9000,990,8910000
38092,20220402,200131,모듬쌈채류,9000,176650,1589850000
686655,20220704,8801013113136,큐원하얀설탕,9000,11500,85320000
686676,20220704,8801013120479,큐원갈색설탕,9000,12500,99000000
119999,20211130,2489898982335,흙대파,9000,990,8910000
186241,20211126,8801115111030,서울우유18ℓ,9000,5800,52200000
136539,20211112,2900000000025,청과,8900,1000,8900000
963847,20210712,8801115111030,서울우유18,8888,5000,44440000
585999,20220618,8809246700048,강릉최가심층수두부,8855,2980,17532900
1183749,20211025,8801056175870,롯데펩시콜라제로250,8801,750,6600750
33505,20220321,2000000866123,음식물스티커120L,8401,7850,65947850

In [83]:
drap = cat[cat['PLU_CD'].str.contains('2599990000117')].index
cat.drop(drap, inplace=True)

In [84]:
cat.sort_values('SALE_QTY', ascending=False).head(30)

,SAL_DT,PLU_CD,GDS_NM,SALE_QTY,SALE_PRC,SALE_AMT
255445,20210919,8802521125819,국순당대박막걸리,9999,1000,9999000
1666064,20220421,8809517210078,에그탑특란,9999,10000,79792020
49829,20211106,2599990000100,아이스콘1개,9999,900,8999100
122028,20220317,202024,딸기,9999,10000,99990000
38094,20220402,200131,모듬쌈채류,9999,170210,1701929790
292541,20210919,8809440820009,종이컵박스,9999,9900,98990100
3710,20210919,2501130000710,소금20kg,9999,27000,269973000
849716,20220524,8801045420042,오뚜기바삭하고고소한튀김가루,9999,3900,38996100
38093,20220402,200131,모듬쌈채류,9999,172720,1727027280
965765,20220124,8801045299419,오옛날사골곰탕,9999,1000,9999000
44417,20220114,200160,백오이,9999,2480,24797520
456386,20220114,22001566,츄파춥스,9999,250,2499750
5748206,20210403,8801048101023,진로이즈백,9982,1350,13475700
116929,20220523,22000539,제스프리,9800,5000,49000000
155980,20211020,2999000001064,천하장사,9800,200,1960000
138201,20220602,2900000000322,공산,9650,4000,38600000
686676,20220704,8801013120479,큐원갈색설탕,9000,12500,99000000
186241,20211126,8801115111030,서울우유18ℓ,9000,5800,52200000
686655,20220704,8801013113136,큐원하얀설탕,9000,11500,85320000
119999,20211130,2489898982335,흙대파,9000,990,8910000
119972,20211126,2489898982335,흙대파,9000,990,8910000
38092,20220402,200131,모듬쌈채류,9000,176650,1589850000
618049,20220704,8801007227320,CJ백설하얀설탕,9000,12000,71820000
610614,20220704,8801007144641,CJ갈색설탕,9000,14500,89100000
136539,20211112,2900000000025,청과,8900,1000,8900000
963847,20210712,8801115111030,서울우유18,8888,5000,44440000
585999,20220618,8809246700048,강릉최가심층수두부,8855,2980,17532900
1183749,20211025,8801056175870,롯데펩시콜라제로250,8801,750,6600750
33505,20220321,2000000866123,음식물스티커120L,8401,7850,65947850
428169,20220411,8806006508227,유한락스후로랄1L12,8076,3100,25035600

In [85]:
cat

          SAL_DT         PLU_CD       GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0       20220928              1          배송비         1         0         0
1       20220929              1          배송비      5000         1      5000
2       20210722              2       사은행사쿠폰         1         0         0
3       20201222       93682091     스니커즈피넛싱글         1       990       990
4       20201222       93682091     스니커즈피넛싱글         1       990       990
...          ...            ...          ...       ...       ...       ...
416307  20220504  9334214017686  시저연어와쇠고기1Kg         1      9900      9900
416308  20220829  9334214017686  시저연어와쇠고기1Kg         1      9900      9900
416309  20220906  9334214017686  시저연어와쇠고기1Kg         1      9900      9900
416310  20220916  9334214017686  시저연어와쇠고기1Kg         1      9900      9900
416311  20220921  9334214017686  시저연어와쇠고기1Kg         1      9900      9900

[24778719 rows x 6 columns]

In [86]:
cat = cat.drop(cat[cat.SALE_AMT==0].index)

In [87]:
cat

          SAL_DT         PLU_CD       GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
4       20201222       93682091     스니커즈피넛싱글         1       990       990
5       20201223       93682091     스니커즈피넛싱글         1       990       990
6       20201223       93682091     스니커즈피넛싱글         2       990      1980
7       20201226       93682091     스니커즈피넛싱글         1       990       990
8       20201226       93682091     스니커즈피넛싱글         1       990       990
...          ...            ...          ...       ...       ...       ...
416307  20220504  9334214017686  시저연어와쇠고기1Kg         1      9900      9900
416308  20220829  9334214017686  시저연어와쇠고기1Kg         1      9900      9900
416309  20220906  9334214017686  시저연어와쇠고기1Kg         1      9900      9900
416310  20220916  9334214017686  시저연어와쇠고기1Kg         1      9900      9900
416311  20220921  9334214017686  시저연어와쇠고기1Kg         1      9900      9900

[24548776 rows x 6 columns]

In [88]:
cat.sort_values('SALE_AMT', ascending=False).head(30)

,SAL_DT,PLU_CD,GDS_NM,SALE_QTY,SALE_PRC,SALE_AMT
56864,20220323,201044,딸기,2,880491120,1760982240
38093,20220402,200131,모듬쌈채류,9999,172720,1727027280
38094,20220402,200131,모듬쌈채류,9999,170210,1701929790
38092,20220402,200131,모듬쌈채류,9000,176650,1589850000
674984,20210926,520000009,망고스틴,1,941181000,941181000
2670,20220210,200000,청량고추,1,930144000,930144000
242232,20220110,22000033,식품,3000,300000,900000000
81077,20211018,200047,청상추1봉,1,880306000,880306000
1110322,20220813,8801051088151,엘자연퐁용기베이킹소다레몬,1,880109440,880109440
1199921,20220722,8801056227708,롯데칠성사이다플러스500ml,1,880104890,880104890
406423,20220122,8801045442723,오옥수수유,1,880100780,880100780
406422,20220122,8801045442723,오옥수수유,1,880100780,880100780
406421,20220122,8801045442723,오옥수수유,1,880100780,880100780
1690874,20210830,8809102740386,왕란,3,288090720,864272160
742004,20220407,8801118256790,델몬트미니컵홈,1,600012450,600012450
146173,20220405,2734840004703,배선물세트9과,1,590020000,590020000
2669,20211213,200000,청량고추,1,518831980,518831980
85,20220901,200000,다시마,1,490603600,490603600
667046,20210815,8801115114383,서울우유3651등급우유,2,200113900,400227800
126660,20210918,2734840001641,햇망양파3kg,2,200025400,400050800
156542,20220816,3800111203089,크랄스카레몬보드카,1,380011120,380011120
3539157,20211010,351030,국내산돈가브리살,1,351028000,351028000
1503194,20220219,2908990004702,쥬키니호박2개,1,351010010,351010010
3342339,20220411,351001,국내산돈삼겹살,1,351008000,351008000
285771,20220520,211023,식품,1,292222000,292222000
581672,20220820,8809182054694,자연담은쌀21년산햅쌀,5940,68000,285120000
86904,20220420,2000804,천혜향,1,279002000,279002000
3710,20210919,2501130000710,소금20kg,9999,27000,269973000
159983,20220107,255341,생삼겹살구이용,1,255103000,229592700
160918,20220908,290009,과자,1,220000570,220000570

In [89]:
q1=cat['SALE_AMT'].quantile(0.25)
q2=cat['SALE_AMT'].quantile(0.5)
q3=cat['SALE_AMT'].quantile(0.75)
iqr=q3-q1
iqr

3500.0

In [90]:
condition=cat['SALE_AMT']>q3+1.5*iqr
cat[condition]

          SAL_DT         PLU_CD    GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
54      20210213       93682091  스니커즈피넛싱글        24       990     23760
289     20220424       93682091  스니커즈피넛싱글        24      1100     26400
309     20220610       93682091  스니커즈피넛싱글        10      1100     11000
344     20220916       93682091  스니커즈피넛싱글        10      1450     14500
397     20210213       93682091  스니커즈피넛싱글        24       990     23760
...          ...            ...       ...       ...       ...       ...
416213  20220611  8888021203578   에너자이저맥스         1     11500     11500
416214  20220629  8888021203578   에너자이저맥스         1     11500     11500
416215  20220629  8888021203578   에너자이저맥스         1     11500     11500
416216  20220728  8888021203578   에너자이저맥스         1     11500     11500
416217  20220813  8888021203578   에너자이저맥스         1     11500     11500

[1853446 rows x 6 columns]

In [91]:
a=cat[condition].index
cat.drop(a,inplace=True)

In [92]:
cat

          SAL_DT         PLU_CD     GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
4       20201222       93682091   스니커즈피넛싱글         1       990       990
5       20201223       93682091   스니커즈피넛싱글         1       990       990
11      20210102       93682091   스니커즈피넛싱글         1       990       990
17      20210111       93682091   스니커즈피넛싱글         5       990      4950
18      20210113       93682091   스니커즈피넛싱글         6       990      5940
...          ...            ...        ...       ...       ...       ...
415982  20220921  8886467100055  프링글스핫스파이스         2      1980      3960
415985  20220924  8886467100055  프링글스핫스파이스         1      1980      1980
415987  20220927  8886467100055  프링글스핫스파이스         1      1980      1980
415988  20220929  8886467100055  프링글스핫스파이스         2      1980      3960
415989  20220325  8888021200164   에너자이저AAA         1      2700      2700

[15975947 rows x 6 columns]

In [93]:
cat.sort_values('SALE_AMT', ascending=False).head(30)

           SAL_DT         PLU_CD    GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
4612435  20201220  8801019511820    해태고향만두         1     10250     10250
3888701  20210409         711062   한우양지국거리         1     10250     10250
3888614  20210405         711062   한우양지국거리         1     10250     10250
3888613  20210405         711062   한우양지국거리         1     10250     10250
3888566  20210403         711062   한우양지국거리         1     10250     10250
3888509  20210401         711062   한우양지국거리         1     10250     10250
3830362  20210314         521015     양념돈까스         1     10250     10250
3888488  20210331         711062   한우양지국거리         1     10250     10250
3888328  20210325         711062   한우양지국거리         1     10250     10250
3888313  20210325         711062   한우양지국거리         1     10250     10250
3888300  20210324         711062   한우양지국거리         1     10250     10250
3888271  20210323         711062   한우양지국거리         1     10250     10250
3888256  20210322         711062   한우양지국거리         1     10250     10250
3888181  20210319         711062   한우양지국거리         1     10250     10250
3386957  20210823         351006  국내산돈앞다리살         1     10250     10250
3888176  20210319         711062   한우양지국거리         1     10250     10250
3888116  20210317         711062   한우양지국거리         1     10250     10250
3888098  20210316         711062   한우양지국거리         1     10250     10250
3386862  20210821         351006  국내산돈앞다리살         1     10250     10250
3888096  20210316         711062   한우양지국거리         1     10250     10250
3830526  20210403         521015     양념돈까스         1     10250     10250
3830530  20210403         521015     양념돈까스         1     10250     10250
3830559  20210405         521015     양념돈까스         1     10250     10250
3386364  20210812         351006  국내산돈앞다리살         1     10250     10250
3830659  20210415         521015     양념돈까스         1     10250     10250
3888698  20210408         711062   한우양지국거리         1     10250     10250
3888709  20210409         711062   한우양지국거리         1     10250     10250
3890010  20210524         711062   한우양지국거리         1     10250     10250
3888825  20210414         711062   한우양지국거리         1     10250     10250
3889951  20210523         711062   한우양지국거리         1     10250     10250

In [94]:
# cat.to_csv('cat1017.csv', index=False)

In [95]:
amart['GDS_NM']= amart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3080142892.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amart['GDS_NM']= amart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [96]:
bmart['GDS_NM']= bmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\967139811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bmart['GDS_NM']= bmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [97]:
cmart['GDS_NM']= cmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3657235262.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cmart['GDS_NM']= cmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [98]:
dmart['GDS_NM']= dmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1035598593.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dmart['GDS_NM']= dmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [99]:
emart['GDS_NM']= emart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1439526364.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emart['GDS_NM']= emart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [100]:
fmart['GDS_NM']= fmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2156973165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fmart['GDS_NM']= fmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [101]:
gmart['GDS_NM']= gmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\928706471.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gmart['GDS_NM']= gmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [102]:
hmart['GDS_NM']= hmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\25282870.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hmart['GDS_NM']= hmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [103]:
imart['GDS_NM']= imart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\662183045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imart['GDS_NM']= imart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [104]:
jmart['GDS_NM']= jmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3849642933.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jmart['GDS_NM']= jmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [105]:
kmart['GDS_NM']= kmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2082119223.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kmart['GDS_NM']= kmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [106]:
lmart['GDS_NM']= lmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2911249751.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lmart['GDS_NM']= lmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [107]:
mmart['GDS_NM']= mmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3786957636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mmart['GDS_NM']= mmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [108]:
nmart['GDS_NM']= nmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2172425848.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nmart['GDS_NM']= nmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [109]:
omart['GDS_NM']= omart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\57238121.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  omart['GDS_NM']= omart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [110]:
pmart['GDS_NM']= pmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\406490079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pmart['GDS_NM']= pmart['GDS_NM'].str.replace(pat=r'[^\w]',repl=r' ',regex=True)

In [111]:
amart['GDS_NM'] = amart['GDS_NM'].str.replace(" ", "")

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1785392373.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amart['GDS_NM'] = amart['GDS_NM'].str.replace(" ", "")

In [112]:
bmart['GDS_NM'] = bmart['GDS_NM'].str.replace(" ", "")

C:\Users\min\AppData\Local\Temp\ipykernel_9524\315580031.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bmart['GDS_NM'] = bmart['GDS_NM'].str.replace(" ", "")

In [113]:
cmart['GDS_NM'] = cmart['GDS_NM'].str.replace(" ", "")

C:\Users\min\AppData\Local\Temp\ipykernel_9524\4004267277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cmart['GDS_NM'] = cmart['GDS_NM'].str.replace(" ", "")

In [114]:
dmart['GDS_NM'] = dmart['GDS_NM'].str.replace(" ", "")

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3117476720.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dmart['GDS_NM'] = dmart['GDS_NM'].str.replace(" ", "")

In [115]:
emart['GDS_NM'] = emart['GDS_NM'].str.replace(" ", "")

C:\Users\min\AppData\Local\Temp\ipykernel_9524\535662874.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emart['GDS_NM'] = emart['GDS_NM'].str.replace(" ", "")

In [116]:
fmart['GDS_NM'] = fmart['GDS_NM'].str.replace(" ", "")

C:\Users\min\AppData\Local\Temp\ipykernel_9524\4219632656.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fmart['GDS_NM'] = fmart['GDS_NM'].str.replace(" ", "")

In [117]:
gmart['GDS_NM'] = gmart['GDS_NM'].str.replace(" ", "")

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3657432844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gmart['GDS_NM'] = gmart['GDS_NM'].str.replace(" ", "")

In [118]:
hmart['GDS_NM'] = hmart['GDS_NM'].str.replace(" ", "")

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1278260199.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hmart['GDS_NM'] = hmart['GDS_NM'].str.replace(" ", "")

In [119]:
imart['GDS_NM'] = imart['GDS_NM'].str.replace(" ", "")

C:\Users\min\AppData\Local\Temp\ipykernel_9524\640070362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imart['GDS_NM'] = imart['GDS_NM'].str.replace(" ", "")

In [120]:
jmart['GDS_NM'] = jmart['GDS_NM'].str.replace(" ", "")

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1606438950.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jmart['GDS_NM'] = jmart['GDS_NM'].str.replace(" ", "")

In [121]:
kmart['GDS_NM'] = kmart['GDS_NM'].str.replace(" ", "")

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2673986475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kmart['GDS_NM'] = kmart['GDS_NM'].str.replace(" ", "")

In [122]:
lmart['GDS_NM'] = lmart['GDS_NM'].str.replace(" ", "")

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1733575829.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lmart['GDS_NM'] = lmart['GDS_NM'].str.replace(" ", "")

In [123]:
mmart['GDS_NM'] = mmart['GDS_NM'].str.replace(" ", "")

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3665015404.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mmart['GDS_NM'] = mmart['GDS_NM'].str.replace(" ", "")

In [124]:
nmart['GDS_NM'] = nmart['GDS_NM'].str.replace(" ", "")

C:\Users\min\AppData\Local\Temp\ipykernel_9524\4150920302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nmart['GDS_NM'] = nmart['GDS_NM'].str.replace(" ", "")

In [125]:
omart['GDS_NM'] = omart['GDS_NM'].str.replace(" ", "")

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2738949209.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  omart['GDS_NM'] = omart['GDS_NM'].str.replace(" ", "")

In [126]:
pmart['GDS_NM'] = pmart['GDS_NM'].str.replace(" ", "")

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2756536337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pmart['GDS_NM'] = pmart['GDS_NM'].str.replace(" ", "")

In [127]:
amart.SAL_DT = amart.SAL_DT.astype('str')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3885113769.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amart.SAL_DT = amart.SAL_DT.astype('str')

In [128]:
bmart.SAL_DT = bmart.SAL_DT.astype('str')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\541442207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bmart.SAL_DT = bmart.SAL_DT.astype('str')

In [129]:
cmart.SAL_DT = cmart.SAL_DT.astype('str')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3526472396.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cmart.SAL_DT = cmart.SAL_DT.astype('str')

In [130]:
dmart.SAL_DT = dmart.SAL_DT.astype('str')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\875531337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dmart.SAL_DT = dmart.SAL_DT.astype('str')

In [131]:
emart.SAL_DT = emart.SAL_DT.astype('str')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1215666788.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emart.SAL_DT = emart.SAL_DT.astype('str')

In [132]:
fmart.SAL_DT = fmart.SAL_DT.astype('str')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1354189477.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fmart.SAL_DT = fmart.SAL_DT.astype('str')

In [133]:
gmart.SAL_DT = gmart.SAL_DT.astype('str')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1167887507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gmart.SAL_DT = gmart.SAL_DT.astype('str')

In [134]:
hmart.SAL_DT = hmart.SAL_DT.astype('str')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2879231419.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hmart.SAL_DT = hmart.SAL_DT.astype('str')

In [135]:
imart.SAL_DT = imart.SAL_DT.astype('str')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2678851469.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imart.SAL_DT = imart.SAL_DT.astype('str')

In [136]:
jmart.SAL_DT = jmart.SAL_DT.astype('str')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3060416483.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jmart.SAL_DT = jmart.SAL_DT.astype('str')

In [137]:
kmart.SAL_DT = kmart.SAL_DT.astype('str')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\88322625.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kmart.SAL_DT = kmart.SAL_DT.astype('str')

In [138]:
lmart.SAL_DT = lmart.SAL_DT.astype('str')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3732800839.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lmart.SAL_DT = lmart.SAL_DT.astype('str')

In [139]:
mmart.SAL_DT = mmart.SAL_DT.astype('str')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2172443133.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mmart.SAL_DT = mmart.SAL_DT.astype('str')

In [140]:
nmart.SAL_DT = nmart.SAL_DT.astype('str')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3605430748.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nmart.SAL_DT = nmart.SAL_DT.astype('str')

In [141]:
omart.SAL_DT = omart.SAL_DT.astype('str')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\883868284.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  omart.SAL_DT = omart.SAL_DT.astype('str')

In [142]:
pmart.SAL_DT = pmart.SAL_DT.astype('str')

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1585685688.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pmart.SAL_DT = pmart.SAL_DT.astype('str')

In [143]:
amart.SAL_DT = pd.to_datetime(amart.SAL_DT)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1784010760.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amart.SAL_DT = pd.to_datetime(amart.SAL_DT)

In [144]:
bmart.SAL_DT = pd.to_datetime(bmart.SAL_DT)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3983763719.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bmart.SAL_DT = pd.to_datetime(bmart.SAL_DT)

In [145]:
cmart.SAL_DT = pd.to_datetime(cmart.SAL_DT)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3455951339.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cmart.SAL_DT = pd.to_datetime(cmart.SAL_DT)

In [146]:
dmart.SAL_DT = pd.to_datetime(dmart.SAL_DT)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\485657126.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dmart.SAL_DT = pd.to_datetime(dmart.SAL_DT)

In [147]:
emart.SAL_DT = pd.to_datetime(emart.SAL_DT)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1680685300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emart.SAL_DT = pd.to_datetime(emart.SAL_DT)

In [148]:
fmart.SAL_DT = pd.to_datetime(fmart.SAL_DT)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\500507328.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fmart.SAL_DT = pd.to_datetime(fmart.SAL_DT)

In [149]:
gmart.SAL_DT = pd.to_datetime(gmart.SAL_DT)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\712517569.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gmart.SAL_DT = pd.to_datetime(gmart.SAL_DT)

In [150]:
hmart.SAL_DT = pd.to_datetime(hmart.SAL_DT)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3072089181.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hmart.SAL_DT = pd.to_datetime(hmart.SAL_DT)

In [151]:
imart.SAL_DT = pd.to_datetime(imart.SAL_DT)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3736661976.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imart.SAL_DT = pd.to_datetime(imart.SAL_DT)

In [152]:
jmart.SAL_DT = pd.to_datetime(jmart.SAL_DT)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1734783969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jmart.SAL_DT = pd.to_datetime(jmart.SAL_DT)

In [153]:
kmart.SAL_DT = pd.to_datetime(kmart.SAL_DT)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\65332544.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kmart.SAL_DT = pd.to_datetime(kmart.SAL_DT)

In [154]:
lmart.SAL_DT = pd.to_datetime(lmart.SAL_DT)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1506432488.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lmart.SAL_DT = pd.to_datetime(lmart.SAL_DT)

In [155]:
mmart.SAL_DT = pd.to_datetime(mmart.SAL_DT)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1487978536.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mmart.SAL_DT = pd.to_datetime(mmart.SAL_DT)

In [156]:
nmart.SAL_DT = pd.to_datetime(nmart.SAL_DT)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3132125264.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nmart.SAL_DT = pd.to_datetime(nmart.SAL_DT)

In [157]:
omart.SAL_DT = pd.to_datetime(omart.SAL_DT)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1803310467.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  omart.SAL_DT = pd.to_datetime(omart.SAL_DT)

In [158]:
pmart.SAL_DT = pd.to_datetime(pmart.SAL_DT)

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3433981694.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pmart.SAL_DT = pd.to_datetime(pmart.SAL_DT)

In [159]:
amart['month'] = pd.to_datetime(amart['SAL_DT'], format='%Y-%m-%d').dt.month

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2025590438.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amart['month'] = pd.to_datetime(amart['SAL_DT'], format='%Y-%m-%d').dt.month

In [160]:
bmart['month'] = pd.to_datetime(bmart['SAL_DT'], format='%Y-%m-%d').dt.month

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3328334886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bmart['month'] = pd.to_datetime(bmart['SAL_DT'], format='%Y-%m-%d').dt.month

In [161]:
cmart['month'] = pd.to_datetime(cmart['SAL_DT'], format='%Y-%m-%d').dt.month

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2110777485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cmart['month'] = pd.to_datetime(cmart['SAL_DT'], format='%Y-%m-%d').dt.month

In [162]:
dmart['month'] = pd.to_datetime(dmart['SAL_DT'], format='%Y-%m-%d').dt.month

C:\Users\min\AppData\Local\Temp\ipykernel_9524\4096419698.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dmart['month'] = pd.to_datetime(dmart['SAL_DT'], format='%Y-%m-%d').dt.month

In [163]:
emart['month'] = pd.to_datetime(emart['SAL_DT'], format='%Y-%m-%d').dt.month

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1220644162.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emart['month'] = pd.to_datetime(emart['SAL_DT'], format='%Y-%m-%d').dt.month

In [164]:
fmart['month'] = pd.to_datetime(fmart['SAL_DT'], format='%Y-%m-%d').dt.month

C:\Users\min\AppData\Local\Temp\ipykernel_9524\736592498.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fmart['month'] = pd.to_datetime(fmart['SAL_DT'], format='%Y-%m-%d').dt.month

In [165]:
gmart['month'] = pd.to_datetime(gmart['SAL_DT'], format='%Y-%m-%d').dt.month

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1874643876.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gmart['month'] = pd.to_datetime(gmart['SAL_DT'], format='%Y-%m-%d').dt.month

In [166]:
hmart['month'] = pd.to_datetime(hmart['SAL_DT'], format='%Y-%m-%d').dt.month

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2455289896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hmart['month'] = pd.to_datetime(hmart['SAL_DT'], format='%Y-%m-%d').dt.month

In [167]:
imart['month'] = pd.to_datetime(imart['SAL_DT'], format='%Y-%m-%d').dt.month

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3145127230.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imart['month'] = pd.to_datetime(imart['SAL_DT'], format='%Y-%m-%d').dt.month

In [168]:
jmart['month'] = pd.to_datetime(jmart['SAL_DT'], format='%Y-%m-%d').dt.month

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2044907286.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jmart['month'] = pd.to_datetime(jmart['SAL_DT'], format='%Y-%m-%d').dt.month

In [169]:
kmart['month'] = pd.to_datetime(kmart['SAL_DT'], format='%Y-%m-%d').dt.month

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1274027984.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kmart['month'] = pd.to_datetime(kmart['SAL_DT'], format='%Y-%m-%d').dt.month

In [170]:
lmart['month'] = pd.to_datetime(lmart['SAL_DT'], format='%Y-%m-%d').dt.month

C:\Users\min\AppData\Local\Temp\ipykernel_9524\4200043038.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lmart['month'] = pd.to_datetime(lmart['SAL_DT'], format='%Y-%m-%d').dt.month

In [171]:
mmart['month'] = pd.to_datetime(mmart['SAL_DT'], format='%Y-%m-%d').dt.month

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3956520575.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mmart['month'] = pd.to_datetime(mmart['SAL_DT'], format='%Y-%m-%d').dt.month

In [172]:
nmart['month'] = pd.to_datetime(nmart['SAL_DT'], format='%Y-%m-%d').dt.month

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1240301850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nmart['month'] = pd.to_datetime(nmart['SAL_DT'], format='%Y-%m-%d').dt.month

In [173]:
omart['month'] = pd.to_datetime(omart['SAL_DT'], format='%Y-%m-%d').dt.month

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2184616335.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  omart['month'] = pd.to_datetime(omart['SAL_DT'], format='%Y-%m-%d').dt.month

In [174]:
pmart['month'] = pd.to_datetime(pmart['SAL_DT'], format='%Y-%m-%d').dt.month

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3649016473.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pmart['month'] = pd.to_datetime(pmart['SAL_DT'], format='%Y-%m-%d').dt.month

In [175]:
amart['weekday'] = pd.to_datetime(amart['SAL_DT'], format='%Y-%m-%d').dt.weekday

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3020237179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amart['weekday'] = pd.to_datetime(amart['SAL_DT'], format='%Y-%m-%d').dt.weekday

In [176]:
bmart['weekday'] = pd.to_datetime(bmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

C:\Users\min\AppData\Local\Temp\ipykernel_9524\478316344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bmart['weekday'] = pd.to_datetime(bmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

In [177]:
cmart['weekday'] = pd.to_datetime(cmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

C:\Users\min\AppData\Local\Temp\ipykernel_9524\847381220.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cmart['weekday'] = pd.to_datetime(cmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

In [178]:
dmart['weekday'] = pd.to_datetime(dmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2781789200.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dmart['weekday'] = pd.to_datetime(dmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

In [179]:
emart['weekday'] = pd.to_datetime(emart['SAL_DT'], format='%Y-%m-%d').dt.weekday

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1984918213.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  emart['weekday'] = pd.to_datetime(emart['SAL_DT'], format='%Y-%m-%d').dt.weekday

In [180]:
fmart['weekday'] = pd.to_datetime(fmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2064961.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fmart['weekday'] = pd.to_datetime(fmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

In [181]:
gmart['weekday'] = pd.to_datetime(gmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

C:\Users\min\AppData\Local\Temp\ipykernel_9524\4159107666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gmart['weekday'] = pd.to_datetime(gmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

In [182]:
hmart['weekday'] = pd.to_datetime(hmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2287362740.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hmart['weekday'] = pd.to_datetime(hmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

In [183]:
imart['weekday'] = pd.to_datetime(imart['SAL_DT'], format='%Y-%m-%d').dt.weekday

C:\Users\min\AppData\Local\Temp\ipykernel_9524\985016813.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  imart['weekday'] = pd.to_datetime(imart['SAL_DT'], format='%Y-%m-%d').dt.weekday

In [184]:
jmart['weekday'] = pd.to_datetime(jmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2429900486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jmart['weekday'] = pd.to_datetime(jmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

In [185]:
kmart['weekday'] = pd.to_datetime(kmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

C:\Users\min\AppData\Local\Temp\ipykernel_9524\772370192.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kmart['weekday'] = pd.to_datetime(kmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

In [186]:
lmart['weekday'] = pd.to_datetime(lmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

C:\Users\min\AppData\Local\Temp\ipykernel_9524\791075370.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lmart['weekday'] = pd.to_datetime(lmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

In [187]:
mmart['weekday'] = pd.to_datetime(mmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

C:\Users\min\AppData\Local\Temp\ipykernel_9524\2037007962.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mmart['weekday'] = pd.to_datetime(mmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

In [188]:
nmart['weekday'] = pd.to_datetime(nmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

C:\Users\min\AppData\Local\Temp\ipykernel_9524\3468277183.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nmart['weekday'] = pd.to_datetime(nmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

In [189]:
omart['weekday'] = pd.to_datetime(omart['SAL_DT'], format='%Y-%m-%d').dt.weekday

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1028278294.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  omart['weekday'] = pd.to_datetime(omart['SAL_DT'], format='%Y-%m-%d').dt.weekday

In [190]:
pmart['weekday'] = pd.to_datetime(pmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

C:\Users\min\AppData\Local\Temp\ipykernel_9524\1179641236.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pmart['weekday'] = pd.to_datetime(pmart['SAL_DT'], format='%Y-%m-%d').dt.weekday

## AMT(판매액) 0 이랑 아웃라이어는 제거하지않은 파일들.

In [191]:
amart.to_csv('amart.csv', index=False)

In [192]:
bmart.to_csv('bmart.csv', index=False)

In [193]:
cmart.to_csv('cmart.csv', index=False)

In [194]:
dmart.to_csv('dmart.csv', index=False)

In [195]:
emart.to_csv('emart.csv', index=False)

In [196]:
fmart.to_csv('fmart.csv', index=False)

In [197]:
gmart.to_csv('gmart.csv', index=False)

In [198]:
hmart.to_csv('hmart.csv', index=False)

In [199]:
imart.to_csv('imart.csv', index=False)

In [200]:
jmart.to_csv('jmart.csv', index=False)

In [201]:
kmart.to_csv('kmart.csv', index=False)

In [202]:
lmart.to_csv('lmart.csv', index=False)

In [203]:
mmart.to_csv('mmart.csv', index=False)

In [204]:
nmart.to_csv('nmart.csv', index=False)

In [205]:
omart.to_csv('omart.csv', index=False)

In [206]:
pmart.to_csv('pmart.csv', index=False)