In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

pd.options.plotting.backend = 'plotly'

import plotly.io as pio
pio.renderers.default = 'notebook_connected'


from plotly.subplots import make_subplots
import plotly.express as px
import plotly.offline as pyo
import plotly.graph_objs as go

from datetime import date, timedelta


from sklearn.cluster import DBSCAN, KMeans
from sklearn.preprocessing import StandardScaler, MinMaxScaler

path = '/content/drive/MyDrive/Colab Notebooks/Retail/data/'

In [ ]:
data = pd.read_csv(path + 'df1020.csv')
data.head()

,SAL_DT,PLU_CD,GDS_NM,SALE_QTY,SALE_PRC,SALE_AMT,month,weekday,Unnamed: 0,대분류,소분류
0,2021-07-24,0,황도복숭아,1,5980,5980,7,5,381,과일,복숭아
1,2021-07-24,0,황도복숭아,1,5980,5980,7,5,381,과일,복숭아
2,2021-07-24,0,황도복숭아,1,5980,5980,7,5,381,과일,복숭아
3,2021-07-24,0,황도복숭아,1,5980,5980,7,5,381,과일,복숭아
4,2021-07-24,0,황도복숭아,1,5980,5980,7,5,381,과일,복숭아

In [ ]:
df = data.copy()

In [ ]:
df.대분류.unique()

array(['과일', '채소', '두부/콩나물/계란', '냉장식품', '건조식품', '생수/음료/커피', '과자/대용식',
       '유제품', '소스/양념/조미료', '김치/반찬', '통조림/즉석밥', '냉동', '주류', '커피/원두/차',
       '라면/면류', '아이스크림', '문구', '세탁용품', '주방용품', '양곡', '수산', '정육', '유아',
       '냉동식품', '세제', '화장실/물티슈/위생', '스포츠레저', '화장지/물티슈/위생', '의류잡화',
       '헤어바디구강', '껌', '소형가전・공구'], dtype=object)

In [ ]:
mapping = {'과일':1, '채소':2, '두부/콩나물/계란':3, '냉장식품':4, '건조식품':5, '생수/음료/커피':6, '과자/대용식':7,
       '유제품':8, '소스/양념/조미료':9, '김치/반찬':10, '통조림/즉석밥':11, '냉동':12, '주류':13, '커피/원두/차':14,
       '라면/면류':15, '아이스크림':16, '문구':17, '세탁용품':18, '주방용품':19, '양곡':20, '수산':21, '정육':22, '유아':23,
       '냉동식품':24, '세제':25, '화장실/물티슈/위생':26, '스포츠레저':27, '화장지/물티슈/위생':28, '의류잡화':29,
       '헤어바디구강':30, '껌':31, '소형가전・공구':32}

In [ ]:
labeling = df.대분류.map(mapping)
df['label'] = labeling

In [ ]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [ ]:
df

,SAL_DT,PLU_CD,GDS_NM,SALE_QTY,SALE_PRC,SALE_AMT,month,weekday,대분류,소분류
0,2021-07-24,0,황도복숭아,1,5980,5980,7,5,과일,복숭아
1,2021-07-24,0,황도복숭아,1,5980,5980,7,5,과일,복숭아
2,2021-07-24,0,황도복숭아,1,5980,5980,7,5,과일,복숭아
3,2021-07-24,0,황도복숭아,1,5980,5980,7,5,과일,복숭아
4,2021-07-24,0,황도복숭아,1,5980,5980,7,5,과일,복숭아
...,...,...,...,...,...,...,...,...,...,...
13188070,2022-09-29,8809267390136,서라벌특란30구,1,7800,7800,9,3,두부/콩나물/계란,계란
13188071,2022-09-30,8809267390136,서라벌특란30구,1,7800,7800,9,4,두부/콩나물/계란,계란
13188072,2022-09-30,8809267390136,서라벌특란30구,1,7800,7800,9,4,두부/콩나물/계란,계란
13188073,2022-09-30,8809267390136,서라벌특란30구,2,7800,15600,9,4,두부/콩나물/계란,계란
13188074,2022-09-30,8809267390136,서라벌특란30구,1,7800,7800,9,4,두부/콩나물/계란,계란

In [ ]:
# df_2 = df[df['month']==2]
# df_3 = df[df['month']==3]
# df_4 = df[df['month']==4]
# df_5 = df[df['month']==5]
# df_6 = df[df['month']==6]
# df_7 = df[df['month']==7]
# df_8 = df[df['month']==8]
# df_9 = df[df['month']==9]
# df_10 = df[df['month']==10]
# df_11 = df[df['month']==11]
# df_12 = df[df['month']==12]

# 1월

In [ ]:
df_1 = df[df['month']==1]

In [ ]:
# df_1['SAL_DT'] = pd.to_datetime(df_1['SAL_DT'])

# KMode

In [ ]:
!pip install kmodes

In [ ]:
from kmodes.kmodes import KModes

In [ ]:
df_1

In [ ]:
# cost = []
# K = range(1,7)
# for num in K:
#     kmode = KModes(n_clusters = num, n_init=3)
#     kmode.fit_predict(df_1)
#     cost.append(kmode.cost_)
# plt.plot(K, cost, 'bx-')
# plt.xlabel('number of clusters')
# plt.ylabel('cost')
# plt.title('elbow method for finding optimal K')
# plt.show()

In [ ]:
df_1.columns

Index(['SAL_DT', 'PLU_CD', 'GDS_NM', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT',
       'month', 'weekday', '대분류', '소분류'],
      dtype='object')

## kmode 2

In [ ]:
len(df_1.대분류.unique())

32

In [ ]:
df1_sec = df_1.drop(['PLU_CD', 'month','SAL_DT', 'weekday'], axis=1)

le = LabelEncoder()
df1_sec = df1_sec.apply(le.fit_transform)
kmode = KModes(n_clusters = 3, n_init = 3, init='random')
clusters = kmode.fit_predict(df1_sec)

In [ ]:
df1_sec = df_1.drop(['PLU_CD', 'month','SAL_DT', 'weekday'], axis=1)

df1_sec['clusters'] = clusters

In [ ]:
df1_sec_2 = df1_sec[df1_sec['clusters']==2]
df1_sec_2

         GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT 대분류 소분류  clusters
12134      대파1단         1      4000      4000  채소   파         2
12135      대파1단         1      4000      4000  채소   파         2
12136      대파1단         1      4000      4000  채소   파         2
12137      대파1단         1      1500      1500  채소   파         2
12138      대파1단         1      1500      1500  채소   파         2
...         ...       ...       ...       ...  ..  ..       ...
12994977  목이버섯대         1      2780      2780  채소  버섯         2
12994978  목이버섯대         1      2780      2780  채소  버섯         2
12994979  목이버섯대         1      2780      2780  채소  버섯         2
12994980  목이버섯대         1      2780      2780  채소  버섯         2
12994981  목이버섯대         1      2780      2780  채소  버섯         2

[396928 rows x 7 columns]

In [ ]:
df1_sec_2.대분류.value_counts()

채소    396928
Name: 대분류, dtype: int64

In [ ]:
df1_sec_1 = df1_sec[df1_sec['clusters']==1]

In [ ]:
df1_sec_1.대분류.value_counts()

냉장식품          64506
두부/콩나물/계란      9722
채소             4201
과자/대용식         1812
통조림/즉석밥        1547
유제품            1357
라면/면류           926
소스/양념/조미료       691
생수/음료/커피        661
과일              383
김치/반찬           201
건조식품            121
화장지/물티슈/위생      103
커피/원두/차          25
냉동               18
주류               15
수산                1
Name: 대분류, dtype: int64

In [ ]:
df1_sec_0 = df1_sec[df1_sec['clusters']==0]
df1_sec_0.대분류.value_counts()

두부/콩나물/계란     97725
정육            94462
과일            94229
과자/대용식        91319
주류            82294
유제품           69710
소스/양념/조미료     52428
라면/면류         46818
생수/음료/커피      34458
통조림/즉석밥       25010
건조식품          12560
냉동            11886
수산            10009
김치/반찬          9406
양곡             3795
냉장식품           3477
냉동식품           2879
스포츠레저          1937
주방용품           1879
커피/원두/차        1658
세제             1181
화장지/물티슈/위생      758
세탁용품            457
유아              381
껌               230
의류잡화            168
소형가전・공구         154
화장실/물티슈/위생      135
문구              108
헤어바디구강           84
아이스크림            28
Name: 대분류, dtype: int64