In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
base_path = ''

In [2]:
# 제품목록 gds_list_0, gds_list_1
gds_2 = pd.read_csv(base_path + 'gds2.csv')

# 제품 카테고리 목록: gdsclss_list_0, gdsclss_list_1
gdsclss_2 = pd.read_csv(base_path + 'gdsclss_2.csv')

# 매출 데이터 마스터(장바구니 단위): tr_list_0, tr_list_1
tr_list_2 = pd.read_csv(base_path + 'tr_list_2.csv')

# 매출 제품 데이터 상세: tr_dtl_list_0, tr_dtl_list_1
tr_dtl_list_2 = pd.read_csv(base_path + 'tr_dtl_list_2.csv')

C:\Users\min\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2,9,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\min\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
c_mer = pd.merge(tr_dtl_list_2[['SAL_DT','SEQ_NO', 'PLU_CD']],gds_2[['PLU_CD', 'GDS_NM']])
c_mer

            SAL_DT  SEQ_NO         PLU_CD           GDS_NM
0         20210901       1  8801039939499      해표 더고소한 파래김
1         20210902       1  8801039939499      해표 더고소한 파래김
2         20210902       1  8801039939499      해표 더고소한 파래김
3         20210902       3  8801039939499      해표 더고소한 파래김
4         20210903       1  8801039939499      해표 더고소한 파래김
...            ...     ...            ...              ...
14248367  20220831       4  8809065627243         실리콘냄비손잡이
14248368  20220831       6  8809300775586          발매트유니언책
14248369  20220831       6  8809300775586       세)유니언플래그매트
14248370  20220831       6  8809300775586   세일 유니언플레그극세사매트
14248371  20220901       3    30900011493  제)스쿨초이스저지방치즈23g

[14248372 rows x 4 columns]

In [5]:
dtl_copy = tr_dtl_list_2.copy()

In [7]:
dtl_mer = pd.merge(dtl_copy, gds_2, how='left', on='PLU_CD')
dtl_mer

,SAL_DT,STR_CD_x,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_CLSS_CD_x,SALE_QTY,...,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT,CO_CD,STR_CD_y,GDS_NM,GDS_CLSS_CD_y,GDS_TP_NM,VEN_CD
0,20210901,12018,01,3,1,정상판매,1,8801039939499,12301.0,180.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,해표 더고소한 파래김,12301.0,일반,16.0
1,20210901,12018,01,3,2,정상판매,1,8801045312316,12101.0,360.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,오뚜기 3분쇠고기카레,12101.0,일반,47.0
2,20210901,12018,01,3,2,정상판매,1,8801045312316,12101.0,360.0,...,0.0,일반,0.0,0.0,1001739.0,72005.0,오뚜기/3분쇠고기카레,10305.0,일반,3.0
3,20210901,12018,01,3,2,정상판매,1,8801045312316,12101.0,360.0,...,0.0,일반,0.0,0.0,1001993.0,142011.0,오뚜기3분쇠고기카레,10101.0,일반,1045.0
4,20210901,12018,01,3,2,정상판매,1,8801045312316,12101.0,360.0,...,0.0,일반,0.0,0.0,1002056.0,168009.0,3분 쇠고기카레,11010.0,일반,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14365833,20220901,168009,1,284,1,정상판매,1,4711269689931,999999.0,6.0,...,0.0,일반,0.0,0.0,1002056.0,168009.0,4711269689931,999999.0,일반,0.0
14365834,20220901,168009,1,284,2,정상판매,1,8801045520117,999999.0,1.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,오뚜기 진라면 순한맛,11060.0,일반,47.0
14365835,20220901,168009,1,284,2,정상판매,1,8801045520117,999999.0,1.0,...,0.0,일반,0.0,0.0,1001739.0,72005.0,오뚜기/진라면(순한맛 봉지),10306.0,일반,3.0
14365836,20220901,168009,1,284,2,정상판매,1,8801045520117,999999.0,1.0,...,0.0,일반,0.0,0.0,1001993.0,142011.0,진라면순한맛,999999.0,일반,9999.0
14365837,20220901,168009,1,284,2,정상판매,1,8801045520117,999999.0,1.0,...,0.0,일반,0.0,0.0,1002056.0,168009.0,순한진라면,999999.0,일반,10.0

In [8]:
dtl_mer.drop(['CO_CD', 'STR_CD_y', 'GDS_CLSS_CD_x','SGDS_DC_PRC', 'SUBTOT_DC_AMT', 'EVT_DC_AMT', 'CPON_DC_AMT','GDS_CPON_DC_AMT','BASKET_CPON_DC_AMT'], axis=1, inplace=True)
dtl_mer

,SAL_DT,STR_CD_x,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SCALES_GDS_TP_NM,GDS_NM,GDS_CLSS_CD_y,GDS_TP_NM,VEN_CD
0,20210901,12018,01,3,1,정상판매,1,8801039939499,180.0,3000.0,540000.0,할인특매,일반,해표 더고소한 파래김,12301.0,일반,16.0
1,20210901,12018,01,3,2,정상판매,1,8801045312316,360.0,1000.0,360000.0,할인특매,일반,오뚜기 3분쇠고기카레,12101.0,일반,47.0
2,20210901,12018,01,3,2,정상판매,1,8801045312316,360.0,1000.0,360000.0,할인특매,일반,오뚜기/3분쇠고기카레,10305.0,일반,3.0
3,20210901,12018,01,3,2,정상판매,1,8801045312316,360.0,1000.0,360000.0,할인특매,일반,오뚜기3분쇠고기카레,10101.0,일반,1045.0
4,20210901,12018,01,3,2,정상판매,1,8801045312316,360.0,1000.0,360000.0,할인특매,일반,3분 쇠고기카레,11010.0,일반,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14365833,20220901,168009,1,284,1,정상판매,1,4711269689931,6.0,200.0,1200.0,정상,일반,4711269689931,999999.0,일반,0.0
14365834,20220901,168009,1,284,2,정상판매,1,8801045520117,1.0,700.0,700.0,정상,일반,오뚜기 진라면 순한맛,11060.0,일반,47.0
14365835,20220901,168009,1,284,2,정상판매,1,8801045520117,1.0,700.0,700.0,정상,일반,오뚜기/진라면(순한맛 봉지),10306.0,일반,3.0
14365836,20220901,168009,1,284,2,정상판매,1,8801045520117,1.0,700.0,700.0,정상,일반,진라면순한맛,999999.0,일반,9999.0
14365837,20220901,168009,1,284,2,정상판매,1,8801045520117,1.0,700.0,700.0,정상,일반,순한진라면,999999.0,일반,10.0

In [9]:
dtl_mer.reindex(columns=['SAL_DT', 'STR_CD_x', 'POS_NO', 'TRAN_NO', 'SEQ_NO', 'DESI_CNCL_TP_NM',
       'SALE_RTN_SGN', 'PLU_CD', 'GDS_NM', 'GDS_CLSS_CD_y', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT',
       'SGDS_DC_TP_NM', 'SCALES_GDS_TP_NM', 
       'GDS_TP_NM', 'VEN_CD'])

,SAL_DT,STR_CD_x,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_NM,GDS_CLSS_CD_y,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SCALES_GDS_TP_NM,GDS_TP_NM,VEN_CD
0,20210901,12018,01,3,1,정상판매,1,8801039939499,해표 더고소한 파래김,12301.0,180.0,3000.0,540000.0,할인특매,일반,일반,16.0
1,20210901,12018,01,3,2,정상판매,1,8801045312316,오뚜기 3분쇠고기카레,12101.0,360.0,1000.0,360000.0,할인특매,일반,일반,47.0
2,20210901,12018,01,3,2,정상판매,1,8801045312316,오뚜기/3분쇠고기카레,10305.0,360.0,1000.0,360000.0,할인특매,일반,일반,3.0
3,20210901,12018,01,3,2,정상판매,1,8801045312316,오뚜기3분쇠고기카레,10101.0,360.0,1000.0,360000.0,할인특매,일반,일반,1045.0
4,20210901,12018,01,3,2,정상판매,1,8801045312316,3분 쇠고기카레,11010.0,360.0,1000.0,360000.0,할인특매,일반,일반,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14365833,20220901,168009,1,284,1,정상판매,1,4711269689931,4711269689931,999999.0,6.0,200.0,1200.0,정상,일반,일반,0.0
14365834,20220901,168009,1,284,2,정상판매,1,8801045520117,오뚜기 진라면 순한맛,11060.0,1.0,700.0,700.0,정상,일반,일반,47.0
14365835,20220901,168009,1,284,2,정상판매,1,8801045520117,오뚜기/진라면(순한맛 봉지),10306.0,1.0,700.0,700.0,정상,일반,일반,3.0
14365836,20220901,168009,1,284,2,정상판매,1,8801045520117,진라면순한맛,999999.0,1.0,700.0,700.0,정상,일반,일반,9999.0
14365837,20220901,168009,1,284,2,정상판매,1,8801045520117,순한진라면,999999.0,1.0,700.0,700.0,정상,일반,일반,10.0

In [10]:
dtl_mer_copy = dtl_mer.copy()

In [11]:
dtl_mer_copy.SAL_DT = dtl_mer_copy.SAL_DT.astype('str')
dtl_mer_copy.SAL_DT

0           20210901
1           20210901
2           20210901
3           20210901
4           20210901
              ...
14365833    20220901
14365834    20220901
14365835    20220901
14365836    20220901
14365837    20220901
Name: SAL_DT, Length: 14365838, dtype: object

In [12]:
dtl_mer_copy.SAL_DT = pd.to_datetime(dtl_mer_copy.SAL_DT)
# dtl_mer_copy.SAL_DT.dt.strftime('%Y/%m/%d')
dtl_mer_copy

,SAL_DT,STR_CD_x,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SCALES_GDS_TP_NM,GDS_NM,GDS_CLSS_CD_y,GDS_TP_NM,VEN_CD
0,2021-09-01,12018,01,3,1,정상판매,1,8801039939499,180.0,3000.0,540000.0,할인특매,일반,해표 더고소한 파래김,12301.0,일반,16.0
1,2021-09-01,12018,01,3,2,정상판매,1,8801045312316,360.0,1000.0,360000.0,할인특매,일반,오뚜기 3분쇠고기카레,12101.0,일반,47.0
2,2021-09-01,12018,01,3,2,정상판매,1,8801045312316,360.0,1000.0,360000.0,할인특매,일반,오뚜기/3분쇠고기카레,10305.0,일반,3.0
3,2021-09-01,12018,01,3,2,정상판매,1,8801045312316,360.0,1000.0,360000.0,할인특매,일반,오뚜기3분쇠고기카레,10101.0,일반,1045.0
4,2021-09-01,12018,01,3,2,정상판매,1,8801045312316,360.0,1000.0,360000.0,할인특매,일반,3분 쇠고기카레,11010.0,일반,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14365833,2022-09-01,168009,1,284,1,정상판매,1,4711269689931,6.0,200.0,1200.0,정상,일반,4711269689931,999999.0,일반,0.0
14365834,2022-09-01,168009,1,284,2,정상판매,1,8801045520117,1.0,700.0,700.0,정상,일반,오뚜기 진라면 순한맛,11060.0,일반,47.0
14365835,2022-09-01,168009,1,284,2,정상판매,1,8801045520117,1.0,700.0,700.0,정상,일반,오뚜기/진라면(순한맛 봉지),10306.0,일반,3.0
14365836,2022-09-01,168009,1,284,2,정상판매,1,8801045520117,1.0,700.0,700.0,정상,일반,진라면순한맛,999999.0,일반,9999.0
14365837,2022-09-01,168009,1,284,2,정상판매,1,8801045520117,1.0,700.0,700.0,정상,일반,순한진라면,999999.0,일반,10.0

In [13]:
dtl_gr = dtl_mer_copy.groupby(['SAL_DT', 'TRAN_NO'])['GDS_NM'].apply(list)
dtl_gr

SAL_DT      TRAN_NO
2021-09-01  1          [*양파(소), *청양고추(소), *대파 1단, *꽈리고추 (500g), *송산포도...
            2          [팽이버섯 1봉, 쌈배추(벌크)1통, *청양고추(소), 가지 1봉, *청양고추 1k...
            3          [해표 더고소한 파래김, 오뚜기 3분쇠고기카레, 오뚜기/3분쇠고기카레, 오뚜기3분쇠...
            4          [**인큐애호박 1개, 진주 천하장사, 천하장사, 천하장사, 천하장사50g, *백오...
            5          [칠성사이다, 칠성사이다 1.5pet, 칠성사이다, 칠성사이다1.5L, 롯데 그란데...
                                             ...
2022-09-01  688                                             [홍로사과 10입/봉]
            689                 [죽염 시린고 치약, 엘지.죽염은강고(시린고)치약, 죽염은강고시린고치약]
            690        [CJ 양념이잘배는찌개두부 , 백설.맛있는콩두부(찌개)두부, 맛있는콩 찌개두부, 맛...
            691                                                [홍로사과/8개]
            692                           [*청상추 1봉, *단호박 1개, 델몬트바나나 1다발]
Name: GDS_NM, Length: 266360, dtype: object

In [14]:
dtl_gr = dtl_gr.to_frame()
dtl_gr

                                                               GDS_NM
SAL_DT     TRAN_NO
2021-09-01 1        [*양파(소), *청양고추(소), *대파 1단, *꽈리고추 (500g), *송산포도...
           2        [팽이버섯 1봉, 쌈배추(벌크)1통, *청양고추(소), 가지 1봉, *청양고추 1k...
           3        [해표 더고소한 파래김, 오뚜기 3분쇠고기카레, 오뚜기/3분쇠고기카레, 오뚜기3분쇠...
           4        [**인큐애호박 1개, 진주 천하장사, 천하장사, 천하장사, 천하장사50g, *백오...
           5        [칠성사이다, 칠성사이다 1.5pet, 칠성사이다, 칠성사이다1.5L, 롯데 그란데...
...                                                               ...
2022-09-01 688                                           [홍로사과 10입/봉]
           689               [죽염 시린고 치약, 엘지.죽염은강고(시린고)치약, 죽염은강고시린고치약]
           690      [CJ 양념이잘배는찌개두부 , 백설.맛있는콩두부(찌개)두부, 맛있는콩 찌개두부, 맛...
           691                                              [홍로사과/8개]
           692                         [*청상추 1봉, *단호박 1개, 델몬트바나나 1다발]

[266360 rows x 1 columns]

In [16]:
dtl_re = dtl_gr.reset_index().rename(columns={"index":"TRAN_NO"})
dtl_re

           SAL_DT  TRAN_NO                                             GDS_NM
0      2021-09-01        1  [*양파(소), *청양고추(소), *대파 1단, *꽈리고추 (500g), *송산포도...
1      2021-09-01        2  [팽이버섯 1봉, 쌈배추(벌크)1통, *청양고추(소), 가지 1봉, *청양고추 1k...
2      2021-09-01        3  [해표 더고소한 파래김, 오뚜기 3분쇠고기카레, 오뚜기/3분쇠고기카레, 오뚜기3분쇠...
3      2021-09-01        4  [**인큐애호박 1개, 진주 천하장사, 천하장사, 천하장사, 천하장사50g, *백오...
4      2021-09-01        5  [칠성사이다, 칠성사이다 1.5pet, 칠성사이다, 칠성사이다1.5L, 롯데 그란데...
...           ...      ...                                                ...
266355 2022-09-01      688                                       [홍로사과 10입/봉]
266356 2022-09-01      689           [죽염 시린고 치약, 엘지.죽염은강고(시린고)치약, 죽염은강고시린고치약]
266357 2022-09-01      690  [CJ 양념이잘배는찌개두부 , 백설.맛있는콩두부(찌개)두부, 맛있는콩 찌개두부, 맛...
266358 2022-09-01      691                                          [홍로사과/8개]
266359 2022-09-01      692                     [*청상추 1봉, *단호박 1개, 델몬트바나나 1다발]

[266360 rows x 3 columns]

In [17]:
dtl_NM_3 = dtl_re['GDS_NM'].to_frame()
dtl_NM_3

                                                   GDS_NM
0       [*양파(소), *청양고추(소), *대파 1단, *꽈리고추 (500g), *송산포도...
1       [팽이버섯 1봉, 쌈배추(벌크)1통, *청양고추(소), 가지 1봉, *청양고추 1k...
2       [해표 더고소한 파래김, 오뚜기 3분쇠고기카레, 오뚜기/3분쇠고기카레, 오뚜기3분쇠...
3       [**인큐애호박 1개, 진주 천하장사, 천하장사, 천하장사, 천하장사50g, *백오...
4       [칠성사이다, 칠성사이다 1.5pet, 칠성사이다, 칠성사이다1.5L, 롯데 그란데...
...                                                   ...
266355                                       [홍로사과 10입/봉]
266356           [죽염 시린고 치약, 엘지.죽염은강고(시린고)치약, 죽염은강고시린고치약]
266357  [CJ 양념이잘배는찌개두부 , 백설.맛있는콩두부(찌개)두부, 맛있는콩 찌개두부, 맛...
266358                                          [홍로사과/8개]
266359                     [*청상추 1봉, *단호박 1개, 델몬트바나나 1다발]

[266360 rows x 1 columns]

In [18]:
dtl_NM_3.to_csv('dtl_NM_3.csv', index=False)