In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
base_path = ''

In [2]:
df = pd.read_csv(base_path + 'newdf1007.csv')

In [4]:
df

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
0,2021-09-02,185158,2999000001262,의성햇사과 8입 1봉,40601.0,9960.0
1,2021-09-02,185158,2908990004443,쌈배추 벌크 1통,30101.0,1980.0
2,2021-09-02,185158,2908990003866,성주꿀참외 특 6입 1봉,40101.0,9800.0
3,2021-09-02,185158,351060,대패삼겹살 수입,52599.0,13060.0
4,2021-09-02,185158,201447,거봉포도,40702.0,6420.0
...,...,...,...,...,...,...
2088623,2022-04-29,202815,8800789888880,찹쌀,105152.0,49500.0
2088624,2022-07-13,152301,8800789888880,찹쌀,105152.0,49500.0
2088625,2021-11-21,143020,8800789080000,늘보리,105152.0,7300.0
2088626,2022-03-03,165411,8800789080000,늘보리,105152.0,7300.0
2088627,2022-06-17,140922,8800789080000,늘보리,105152.0,7300.0

In [9]:
df['SALE_AMT'] = df['SALE_AMT'].astype(int)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2088628 entries, 0 to 2088627
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   SAL_DT        object
 1   REAL_SAL_TTM  int64
 2   PLU_CD        int64
 3   GDS_NM        object
 4   GDS_CLSS_CD   float64
 5   SALE_AMT      int32
dtypes: float64(1), int32(1), int64(2), object(2)
memory usage: 87.6+ MB

In [11]:
df.to_csv('newdf1007-1.csv', index=False)

In [12]:
df1 = pd.read_csv(base_path + 'newdf1007-1.csv')

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2088628 entries, 0 to 2088627
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   SAL_DT        object
 1   REAL_SAL_TTM  int64
 2   PLU_CD        int64
 3   GDS_NM        object
 4   GDS_CLSS_CD   float64
 5   SALE_AMT      int64
dtypes: float64(1), int64(3), object(2)
memory usage: 95.6+ MB

In [15]:
df1['SAL_DT'] = pd.to_datetime(df1['SAL_DT'])

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2088628 entries, 0 to 2088627
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   SAL_DT        datetime64[ns]
 1   REAL_SAL_TTM  int64
 2   PLU_CD        int64
 3   GDS_NM        object
 4   GDS_CLSS_CD   float64
 5   SALE_AMT      int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 95.6+ MB

In [17]:
df1.to_csv('newdf1007-2.csv', index=False)

In [18]:
df2 = pd.read_csv(base_path + 'newdf1007-2.csv')

In [19]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2088628 entries, 0 to 2088627
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   SAL_DT        object
 1   REAL_SAL_TTM  int64
 2   PLU_CD        int64
 3   GDS_NM        object
 4   GDS_CLSS_CD   float64
 5   SALE_AMT      int64
dtypes: float64(1), int64(3), object(2)
memory usage: 95.6+ MB

In [20]:
df2

,SAL_DT,REAL_SAL_TTM,PLU_CD,GDS_NM,GDS_CLSS_CD,SALE_AMT
0,2021-09-02,185158,2999000001262,의성햇사과 8입 1봉,40601.0,9960
1,2021-09-02,185158,2908990004443,쌈배추 벌크 1통,30101.0,1980
2,2021-09-02,185158,2908990003866,성주꿀참외 특 6입 1봉,40101.0,9800
3,2021-09-02,185158,351060,대패삼겹살 수입,52599.0,13060
4,2021-09-02,185158,201447,거봉포도,40702.0,6420
...,...,...,...,...,...,...
2088623,2022-04-29,202815,8800789888880,찹쌀,105152.0,49500
2088624,2022-07-13,152301,8800789888880,찹쌀,105152.0,49500
2088625,2021-11-21,143020,8800789080000,늘보리,105152.0,7300
2088626,2022-03-03,165411,8800789080000,늘보리,105152.0,7300
2088627,2022-06-17,140922,8800789080000,늘보리,105152.0,7300