In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

base_path = ''

In [2]:
df = pd.read_csv(base_path + 'cat1014.csv')
df

            SAL_DT         PLU_CD GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0         20210527  8801068097474   땅콩샌드       1.0    1100.0    1100.0
1         20210529  8801068097474   땅콩샌드       1.0    1100.0    1100.0
2         20210529  8801068097474   땅콩샌드       1.0    1100.0    1100.0
3         20210530  8801068097474   땅콩샌드       1.0    1100.0    1100.0
4         20210531  8801068097474   땅콩샌드       1.0    1100.0    1100.0
...            ...            ...    ...       ...       ...       ...
24805738  20220827  9556486800210   망고푸딩       1.0    3500.0    3500.0
24805739  20220828  9556486800210   망고푸딩       1.0    3500.0    3500.0
24805740  20220913  9556486800210   망고푸딩       1.0    3500.0    3500.0
24805741  20220920  9556486800210   망고푸딩       1.0    3500.0    3500.0
24805742  20220922  9556486800210   망고푸딩       1.0    3500.0    3500.0

[24805743 rows x 6 columns]

In [3]:
df['GDS_NM'].value_counts()

재사용봉투20L               375557
재사용봉투                  251539
대파1단                   127103
배달봉투                   105428
흙당근                    102456
                        ...
충화반점라구짜장350g                1
피코크툭툭누들타이새우팟퐁커리600g         1
청정원양조진간장플러스                 1
화이트캄파10p                    1
루카스나인라떼더블샷                  1
Name: GDS_NM, Length: 95457, dtype: int64

In [4]:
df['GDS_NM'].value_counts().head(50)

재사용봉투20L        375557
재사용봉투           251539
대파1단            127103
배달봉투            105428
흙당근             102456
서울우유             93327
감자               86819
종량제재사용봉투20L      78606
대파               77448
깻잎5묶음봉           70839
백오이              70753
백오이1개            67155
인큐애호박            65423
참이슬후레쉬           65169
청양고추             61247
양배추              59195
청양고추소            57384
인큐애호박2개행사        56224
적상추1봉비닐          55414
팽이버섯             53815
종량제봉투20L         52939
처음처럼             52700
야채               52626
깐마늘              51896
새송이버섯1봉          51630
바나나              50927
남양맛있는우유GT기획      50727
느타리버섯1팩          49495
시금치              48458
인큐애호박1개          47773
깻잎               47057
청상추1봉            45077
토속대란1판           45010
양파중1망            44121
새송이버섯            43385
CJ양념이잘배는찌개두부     42433
딸기               41741
추부깻잎1봉           41714
농심신라면멀티          41604
양파소              40993
백오이5개            40089
부추               37215
서울장수막걸리          37052
부추1단             36041
적상추              35871
CJ삼호부산어묵바른사각     35776
느타리버섯            35181
대림신선한콩나물         34966
양배추1통            34488
종량제봉투10L         34255
Name: GDS_NM, dtype: int64

In [5]:
df = df.astype({'SALE_QTY' : 'int'})

In [6]:
df = df.astype({'SALE_AMT' : 'int'})

In [7]:
df = df.astype({'SAL_DT' : 'str'})

In [8]:
df

            SAL_DT         PLU_CD GDS_NM  SALE_QTY  SALE_PRC  SALE_AMT
0         20210527  8801068097474   땅콩샌드         1    1100.0      1100
1         20210529  8801068097474   땅콩샌드         1    1100.0      1100
2         20210529  8801068097474   땅콩샌드         1    1100.0      1100
3         20210530  8801068097474   땅콩샌드         1    1100.0      1100
4         20210531  8801068097474   땅콩샌드         1    1100.0      1100
...            ...            ...    ...       ...       ...       ...
24805738  20220827  9556486800210   망고푸딩         1    3500.0      3500
24805739  20220828  9556486800210   망고푸딩         1    3500.0      3500
24805740  20220913  9556486800210   망고푸딩         1    3500.0      3500
24805741  20220920  9556486800210   망고푸딩         1    3500.0      3500
24805742  20220922  9556486800210   망고푸딩         1    3500.0      3500

[24805743 rows x 6 columns]

In [9]:
test = df.sort_values('SALE_QTY', ascending=False).head(50)
test

,SAL_DT,PLU_CD,GDS_NM,SALE_QTY,SALE_PRC,SALE_AMT
24399828,20210919,2501130000710,소금20kg,9999,27000.0,269973000
24446362,20211106,2599990000117,잡화,9999,400000.0,-2147483648
24651563,20210919,8802521125819,국순당대박막걸리,9999,1000.0,9999000
24445947,20211106,2599990000100,아이스콘1개,9999,900.0,8999100
24688659,20210919,8809440820009,종이컵박스,9999,9900.0,98990100
8035492,20220317,202024,딸기,9999,10000.0,99990000
9579528,20220421,8809517210078,에그탑특란,9999,10000.0,79792020
6974919,20220524,8801045420042,오뚜기바삭하고고소한튀김가루,9999,3900.0,38996100
965765,20220124,8801045299419,오옛날사골곰탕,9999,1000.0,9999000
6163296,20220402,200131,모듬쌈채류,9999,172720.0,1727027280
6163297,20220402,200131,모듬쌈채류,9999,170210.0,1701929790
6169620,20220114,200160,백오이,9999,2480.0,24797520
6581589,20220114,22001566,츄파춥스,9999,250.0,2499750
20772035,20210403,8801048101023,진로이즈백,9982,1350.0,13475700
14768435,20211020,2999000001064,천하장사,9800,200.0,1960000
14729384,20220523,22000539,제스프리,9800,5000.0,49000000
12651699,20220602,2900000000322,공산,9650,4000.0,38600000
24582359,20211126,8801115111030,서울우유18ℓ,9000,5800.0,52200000
6811858,20220704,8801013113136,큐원하얀설탕,9000,11500.0,85320000
6811879,20220704,8801013120479,큐원갈색설탕,9000,12500.0,99000000
6735817,20220704,8801007144641,CJ갈색설탕,9000,14500.0,89100000
13834309,20211130,2489898982335,흙대파,9000,990.0,8910000
13834282,20211126,2489898982335,흙대파,9000,990.0,8910000
6743252,20220704,8801007227320,CJ백설하얀설탕,9000,12000.0,71820000
6163295,20220402,200131,모듬쌈채류,9000,176650.0,1589850000
12650037,20211112,2900000000025,청과,8900,1000.0,8900000
10564621,20210712,8801115111030,서울우유18,8888,5000.0,44440000
12479833,20220618,8809246700048,강릉최가심층수두부,8855,2980.0,17532900
1183749,20211025,8801056175870,롯데펩시콜라제로250,8801,750.0,6600750
12547003,20220321,2000000866123,음식물스티커120L,8401,7850.0,65947850
14142479,20220411,8806006508227,유한락스후로랄1L12,8076,3100.0,25035600
11063618,20220325,2002033,한라봉,7900,7900.0,62410000
14012546,20220302,8801094012502,코카콜라2L,7889,3400.0,26822600
14012547,20220302,8801094012502,코카콜라2L,7889,3400.0,26822600
14729223,20220309,22000539,제스프리,7723,9800.0,75685400
14729461,20220706,22000539,제스프리,7723,6000.0,46338000
14729261,20220322,22000539,제스프리,7723,9800.0,75685400
14729387,20220524,22000539,제스프리,7723,6800.0,52516400
14729440,20220613,22000539,제스프리,7723,11400.0,88042200
14729465,20220719,22000539,제스프리,7723,5700.0,44021100
4944265,20220715,2908990000919,재사용봉투20L,7600,710.0,5396000
17899562,20201220,2909441428986,가지고추1팩,7333,2500.0,18332500
19757107,20211031,8801033786259,베지밀B,7256,14800.0,107388800
15824696,20211006,290100000045,쓰레기봉투50L,7040,1540.0,10841600
4579581,20220303,22002853,스치딸기1kg행사,7020,14800.0,89856000
13646488,20220306,8802272111260,일판특란30구,6900,6980.0,48162000
14845100,20211216,8801052801773,청정원현미찰고추장사각,6800,3300.0,22440000
12651695,20220601,2900000000322,공산,6800,4000.0,27200000
12651696,20220601,2900000000322,공산,6800,4000.0,27200000
16768893,20220210,2908990006065,달래1단,6662,1000.0,6662000